<div class="row">
    <div class="col-md-4">
        <h4>Filtering</h4>
        Search: <input class="form-control" ng-model="query" />
        <br />
        Sort by:
        <select ng-model="orderProp">
            <option value="name">Alphabetical</option>
            <option value="age">Newest</option>
        </select>
        <br />
        <h4>JSON View:</h4>
        <pre>{{phones | filter:query | orderBy:orderProp | json}}</pre>
    </div>
    <div class="col-md-8">
        <h4>Phones</h4>
        <table class="table">
            <tr class="phone-listing" ng-repeat="phone in phones | filter:query | orderBy:orderProp">
                <td>
                    <img style="width:100px;height:100px;" ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" />
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-12">
                            <h4><a href="#/phones/{{phone.id}}">{{phone.name}}</a></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" ng-bind="phone.snippet"></div>
                    </div>                    
                </td>
                <td>
                    <a href="#/phones/{{phone.id}}" class="btn btn-success btn-sm">View</a>
                </td>
            </tr>
        </table>
    </div>
</div>